altgraph==0.17.4
cffi==1.16.0
colorama==0.4.6
cryptography==42.0.7
et-xmlfile==1.1.0
numpy==1.26.4
openpyxl==3.1.2
oracledb==2.2.0
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
setuptools==70.0.0
six==1.16.0
tqdm==4.66.4
tzdata==2024.1
